doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/main.pcss')
    link(rel='icon', href='/img/icon.png', type='image/png')
    link(rel='apple-touch-icon', href='/img/icon_192.png')
    meta(name='theme-color', content='#000000')
    title Yadoms
  body
    #app
    script(src='/ts/main.ts')